<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zp.manage_course.dao.TeachPlanMapper">
    <resultMap type="com.zp.model.course.TeachPlanNode" id="teachPlanMap">
        <id property="id" column="one_id"/>
        <result property="pName" column="one_name"/>
        <collection property="children" ofType="com.zp.model.course.TeachPlanNode">
            <id property="id" column="two_id"/>
            <result property="pName" column="two_name"/>
            <collection property="children" ofType="com.zp.model.course.TeachPlanNode">
                <id property="id" column="three_id"/>
                <result property="pName" column="three_name"/>
            </collection>
        </collection>
    </resultMap>


    <select id="selectList" parameterType="java.lang.String" resultMap="teachPlanMap">
        SELECT
            a.id one_id,
            a.p_name one_name,
            b.id two_id,
            b.p_name two_name,
            c.id three_id,
            c.p_name three_name
        FROM
            teach_plan a LEFT JOIN teach_plan b
            ON a.id = b.parent_id
        LEFT JOIN teach_plan c
            ON b.id = c.parent_id
        WHERE a.parent_id = '0'
            <if test="_parameter!=null and _parameter!=''">
                and a.course_id=#{courseId}
            </if>
        ORDER BY a.order_by, b.order_by, c.order_by
    </select>
</mapper>